$primary-color: #ecfdff;
$btn-bg: #ff3368;
$btn-gradient: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
$btn-gradient-hover: linear-gradient(16deg, #ff005a 0%, #ff5d2d 40%, #ffba00 100%);
$text-black: #000;
$text-white: #fff;